* {
    accent : #F14458;
    background: #0A0F14;
}
.slider .track{
    -fx-background-color: #3E4057;
}
.slider {
    -fx-background-radius: 3;
}
.slider .thumb{
    -fx-background-color: white;
    -fx-border-radius: 50%;
}