.song-row{
    -fx-background-color: #161721;
    -fx-background-radius: 10;
    -fx-max-height: 5;
}

.song-text{
    -fx-text-fill: #ffff;
    -fx-font-size: 18;
}


.text-button{
    -fx-text-fill: #ffff;
    -fx-font-size: 14;
}