.text-button{
    -fx-text-fill: #ffff;
    -fx-font-size: 14;
}

.text{
    -fx-text-fill: #ffff;
    -fx-font-size: 18;
}
.background{
    -fx-background-color: #161721;
    -fx-background-radius: 10;
}