@font-face {
    font-family: "Orienta";
    src: url('assets/Orienta/Orienta-Regular.ttf');
}


*{
    bg-color: #0A0F14;
    layer-1:  #161721;
    layer-2: #232431;
    main-text: white;
    accent: #F14458;
    -fx-text-fill: main-text;
    -fx-font-family: 'Orienta';
}

Separator{
    -fx-background: transparent;
    -fx-border-color:transparent;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

TextField,PasswordField{
    -fx-text-fill: black;
}


.icon{
    -fx-text-fill: accent;
}


.login-pane{
    -fx-background-color: layer-1;
    -fx-border-radius: 10px;
    -fx-text-fill: black;
}

.button{
    -fx-background-color: accent;
}


.side-menu{
    -fx-background-color:  layer-1;

}
.header-input-wrapper{
    -fx-background-radius: 100px; 
    padding: 10px;
    -fx-background-color: layer-1;

}
.header-textfield{
    -fx-border-fill: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}
.main-content{
    -fx-background: bg-color;
    -fx-background-color: bg-color;
}
.footer{
    -fx-background: layer-2;
    -fx-background-color: layer-2;
    -fx-background-radius: 10px;
}
.menu-link{
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}
.menu-link-active{
    -fx-background-color: layer-2;
}
.menu-link-accent{
    -fx-background-color: accent;
    -fx-background-radius: 2px;
}